CONFIG_EXAMPLE_CONNECT_WIFI                              CONFIG_NET_CONNECT_WIFI
CONFIG_EXAMPLE_WIFI_SSID_PWD_FROM_STDIN                  CONFIG_NET_CONNECT_WIFI_SSID_PWD_FROM_STDIN
CONFIG_EXAMPLE_PROVIDE_WIFI_CONSOLE_CMD                  CONFIG_NET_CONNECT_PROVIDE_WIFI_CONSOLE_CMD
CONFIG_EXAMPLE_WIFI_SSID                                 CONFIG_NET_CONNECT_WIFI_SSID
CONFIG_EXAMPLE_WIFI_PASSWORD                             CONFIG_NET_CONNECT_WIFI_PASSWORD
CONFIG_EXAMPLE_WIFI_CONN_MAX_RETRY                       CONFIG_NET_CONNECT_WIFI_CONN_MAX_RETRY
CONFIG_EXAMPLE_WIFI_SCAN_METHOD_FAST                     CONFIG_NET_CONNECT_WIFI_SCAN_METHOD_FAST
CONFIG_EXAMPLE_WIFI_SCAN_METHOD_ALL_CHANNEL              CONFIG_NET_CONNECT_WIFI_SCAN_METHOD_ALL_CHANNEL
CONFIG_EXAMPLE_WIFI_SCAN_RSSI_THRESHOLD                  CONFIG_NET_CONNECT_WIFI_SCAN_RSSI_THRESHOLD
CONFIG_EXAMPLE_WIFI_AUTH_OPEN                            CONFIG_NET_CONNECT_WIFI_AUTH_OPEN
CONFIG_EXAMPLE_WIFI_AUTH_WEP                             CONFIG_NET_CONNECT_WIFI_AUTH_WEP
CONFIG_EXAMPLE_WIFI_AUTH_WPA_PSK                         CONFIG_NET_CONNECT_WIFI_AUTH_WPA_PSK
CONFIG_EXAMPLE_WIFI_AUTH_WPA2_PSK                        CONFIG_NET_CONNECT_WIFI_AUTH_WPA2_PSK
CONFIG_EXAMPLE_WIFI_AUTH_WPA_WPA2_PSK                    CONFIG_NET_CONNECT_WIFI_AUTH_WPA_WPA2_PSK
CONFIG_EXAMPLE_WIFI_AUTH_WPA2_ENTERPRISE                 CONFIG_NET_CONNECT_WIFI_AUTH_WPA2_ENTERPRISE
CONFIG_EXAMPLE_WIFI_AUTH_WPA3_PSK                        CONFIG_NET_CONNECT_WIFI_AUTH_WPA3_PSK
CONFIG_EXAMPLE_WIFI_AUTH_WPA2_WPA3_PSK                   CONFIG_NET_CONNECT_WIFI_AUTH_WPA2_WPA3_PSK
CONFIG_EXAMPLE_WIFI_AUTH_WAPI_PSK                        CONFIG_NET_CONNECT_WIFI_AUTH_WAPI_PSK
CONFIG_EXAMPLE_WIFI_CONNECT_AP_BY_SIGNAL                 CONFIG_NET_CONNECT_WIFI_CONNECT_AP_BY_SIGNAL
CONFIG_EXAMPLE_WIFI_CONNECT_AP_BY_SECURITY               CONFIG_NET_CONNECT_WIFI_CONNECT_AP_BY_SECURITY
CONFIG_EXAMPLE_CONNECT_ETHERNET                          CONFIG_NET_CONNECT_ETHERNET
CONFIG_EXAMPLE_ETHERNET_EMAC_TASK_STACK_SIZE             CONFIG_ETHERNET_RX_TASK_STACK_SIZE
CONFIG_EXAMPLE_USE_SPI_ETHERNET                          CONFIG_ETHERNET_SPI_SUPPORT
CONFIG_EXAMPLE_USE_INTERNAL_ETHERNET                     CONFIG_ETHERNET_INTERNAL_SUPPORT
CONFIG_EXAMPLE_USE_DM9051                                CONFIG_ETHERNET_SPI_DEV0_DM9051
CONFIG_EXAMPLE_USE_W5500                                 CONFIG_ETHERNET_SPI_DEV0_W5500
CONFIG_EXAMPLE_USE_OPENETH                               CONFIG_ETHERNET_OPENETH_SUPPORT
CONFIG_EXAMPLE_ETH_PHY_GENERIC                           CONFIG_ETHERNET_PHY_GENERIC
CONFIG_EXAMPLE_ETH_PHY_IP101                             CONFIG_ETHERNET_PHY_IP101
CONFIG_EXAMPLE_ETH_PHY_RTL8201                           CONFIG_ETHERNET_PHY_RTL8201
CONFIG_EXAMPLE_ETH_PHY_LAN87XX                           CONFIG_ETHERNET_PHY_LAN87XX
CONFIG_EXAMPLE_ETH_PHY_DP83848                           CONFIG_ETHERNET_PHY_DP83848
CONFIG_EXAMPLE_ETH_PHY_KSZ80XX                           CONFIG_ETHERNET_PHY_KSZ80XX
CONFIG_EXAMPLE_ETH_MDC_GPIO                              CONFIG_ETHERNET_MDC_GPIO
CONFIG_EXAMPLE_ETH_MDIO_GPIO                             CONFIG_ETHERNET_MDIO_GPIO
CONFIG_EXAMPLE_ETH_SPI_HOST                              CONFIG_ETHERNET_SPI_HOST
CONFIG_EXAMPLE_ETH_SPI_SCLK_GPIO                         CONFIG_ETHERNET_SPI_SCLK_GPIO
CONFIG_EXAMPLE_ETH_SPI_MOSI_GPIO                         CONFIG_ETHERNET_SPI_MOSI_GPIO
CONFIG_EXAMPLE_ETH_SPI_MISO_GPIO                         CONFIG_ETHERNET_SPI_MISO_GPIO
CONFIG_EXAMPLE_ETH_SPI_CS_GPIO                           CONFIG_ETHERNET_SPI_CS0_GPIO
CONFIG_EXAMPLE_ETH_SPI_CLOCK_MHZ                         CONFIG_ETHERNET_SPI_CLOCK_MHZ
CONFIG_EXAMPLE_ETH_SPI_INT_GPIO                          CONFIG_ETHERNET_SPI_INT0_GPIO
CONFIG_EXAMPLE_ETH_PHY_RST_GPIO                          CONFIG_ETHERNET_PHY_RST_GPIO
CONFIG_EXAMPLE_ETH_PHY_ADDR                              CONFIG_ETHERNET_PHY_ADDR
CONFIG_NET_CONNECT_ETHERNET_EMAC_TASK_STACK_SIZE         CONFIG_ETHERNET_RX_TASK_STACK_SIZE
CONFIG_NET_CONNECT_USE_SPI_ETHERNET                      CONFIG_ETHERNET_SPI_SUPPORT
CONFIG_NET_CONNECT_USE_INTERNAL_ETHERNET                 CONFIG_ETHERNET_INTERNAL_SUPPORT
CONFIG_NET_CONNECT_USE_DM9051                            CONFIG_ETHERNET_SPI_DEV0_DM9051
CONFIG_NET_CONNECT_USE_W5500                             CONFIG_ETHERNET_SPI_DEV0_W5500
CONFIG_NET_CONNECT_USE_OPENETH                           CONFIG_ETHERNET_OPENETH_SUPPORT
CONFIG_NET_CONNECT_ETH_PHY_GENERIC                       CONFIG_ETHERNET_PHY_GENERIC
CONFIG_NET_CONNECT_ETH_PHY_IP101                         CONFIG_ETHERNET_PHY_IP101
CONFIG_NET_CONNECT_ETH_PHY_RTL8201                       CONFIG_ETHERNET_PHY_RTL8201
CONFIG_NET_CONNECT_ETH_PHY_LAN87XX                       CONFIG_ETHERNET_PHY_LAN87XX
CONFIG_NET_CONNECT_ETH_PHY_DP83848                       CONFIG_ETHERNET_PHY_DP83848
CONFIG_NET_CONNECT_ETH_PHY_KSZ80XX                       CONFIG_ETHERNET_PHY_KSZ80XX
CONFIG_NET_CONNECT_ETH_MDC_GPIO                          CONFIG_ETHERNET_MDC_GPIO
CONFIG_NET_CONNECT_ETH_MDIO_GPIO                         CONFIG_ETHERNET_MDIO_GPIO
CONFIG_NET_CONNECT_ETH_SPI_HOST                          CONFIG_ETHERNET_SPI_HOST
CONFIG_NET_CONNECT_ETH_SPI_SCLK_GPIO                     CONFIG_ETHERNET_SPI_SCLK_GPIO
CONFIG_NET_CONNECT_ETH_SPI_MOSI_GPIO                     CONFIG_ETHERNET_SPI_MOSI_GPIO
CONFIG_NET_CONNECT_ETH_SPI_MISO_GPIO                     CONFIG_ETHERNET_SPI_MISO_GPIO
CONFIG_NET_CONNECT_ETH_SPI_CS_GPIO                       CONFIG_ETHERNET_SPI_CS0_GPIO
CONFIG_NET_CONNECT_ETH_SPI_CLOCK_MHZ                     CONFIG_ETHERNET_SPI_CLOCK_MHZ
CONFIG_NET_CONNECT_ETH_SPI_INT_GPIO                      CONFIG_ETHERNET_SPI_INT0_GPIO
CONFIG_NET_CONNECT_ETH_PHY_RST_GPIO                      CONFIG_ETHERNET_PHY_RST_GPIO
CONFIG_NET_CONNECT_ETH_PHY_ADDR                          CONFIG_ETHERNET_PHY_ADDR
CONFIG_EXAMPLE_CONNECT_PPP                               CONFIG_NET_CONNECT_PPP
CONFIG_EXAMPLE_CONNECT_PPP_DEVICE_USB                    CONFIG_NET_CONNECT_PPP_DEVICE_USB
CONFIG_EXAMPLE_CONNECT_PPP_DEVICE_UART                   CONFIG_NET_CONNECT_PPP_DEVICE_UART
CONFIG_EXAMPLE_CONNECT_UART_TX_PIN                       CONFIG_NET_CONNECT_UART_TX_PIN
CONFIG_EXAMPLE_CONNECT_UART_RX_PIN                       CONFIG_NET_CONNECT_UART_RX_PIN
CONFIG_EXAMPLE_CONNECT_UART_BAUDRATE                     CONFIG_NET_CONNECT_UART_BAUDRATE
CONFIG_EXAMPLE_PPP_CONN_MAX_RETRY                        CONFIG_NET_CONNECT_PPP_CONN_MAX_RETRY
CONFIG_EXAMPLE_CONNECT_THREAD                            CONFIG_NET_CONNECT_THREAD
CONFIG_EXAMPLE_THREAD_TASK_STACK_SIZE                    CONFIG_NET_CONNECT_THREAD_TASK_STACK_SIZE
CONFIG_EXAMPLE_THREAD_UART_RX_PIN                        CONFIG_NET_CONNECT_THREAD_UART_RX_PIN
CONFIG_EXAMPLE_THREAD_UART_TX_PIN                        CONFIG_NET_CONNECT_THREAD_UART_TX_PIN
CONFIG_EXAMPLE_THREAD_UART_BAUD                          CONFIG_NET_CONNECT_THREAD_UART_BAUD
CONFIG_EXAMPLE_THREAD_UART_PORT                          CONFIG_NET_CONNECT_THREAD_UART_PORT
CONFIG_EXAMPLE_THREAD_SPI_CS_PIN                         CONFIG_NET_CONNECT_THREAD_SPI_CS_PIN
CONFIG_EXAMPLE_THREAD_SPI_SCLK_PIN                       CONFIG_NET_CONNECT_THREAD_SPI_SCLK_PIN
CONFIG_EXAMPLE_THREAD_SPI_MISO_PIN                       CONFIG_NET_CONNECT_THREAD_SPI_MISO_PIN
CONFIG_EXAMPLE_THREAD_SPI_MOSI_PIN                       CONFIG_NET_CONNECT_THREAD_SPI_MOSI_PIN
CONFIG_EXAMPLE_THREAD_SPI_INTR_PIN                       CONFIG_NET_CONNECT_THREAD_SPI_INTR_PIN
CONFIG_EXAMPLE_CONNECT_IPV4                              CONFIG_NET_CONNECT_IPV4
CONFIG_EXAMPLE_CONNECT_IPV6                              CONFIG_NET_CONNECT_IPV6
CONFIG_EXAMPLE_CONNECT_IPV6_PREF_LOCAL_LINK              CONFIG_NET_CONNECT_IPV6_PREF_LOCAL_LINK
CONFIG_EXAMPLE_CONNECT_IPV6_PREF_GLOBAL                  CONFIG_NET_CONNECT_IPV6_PREF_GLOBAL
CONFIG_EXAMPLE_CONNECT_IPV6_PREF_SITE_LOCAL              CONFIG_NET_CONNECT_IPV6_PREF_SITE_LOCAL
CONFIG_EXAMPLE_CONNECT_IPV6_PREF_UNIQUE_LOCAL            CONFIG_NET_CONNECT_IPV6_PREF_UNIQUE_LOCAL
