menu "Example Configuration"

    choice EXAMPLE_MODEM_DEVICE
        prompt "Choose supported modem device (DCE)"
        default EXAMPLE_MODEM_DEVICE_BG96
        help
            Select modem device connected to the ESP DTE.
        config EXAMPLE_MODEM_DEVICE_SIM800
            bool "SIM800"
            help
                SIMCom SIM800L is a GSM/GPRS module.
                It supports Quad-band 850/900/1800/1900MHz.
        config EXAMPLE_MODEM_DEVICE_BG96
            bool "BG96"
            help
                Quectel BG96 is a series of LTE Cat M1/Cat NB1/EGPRS module.
        config EXAMPLE_MODEM_DEVICE_SIM7600
            bool "SIM7600"
            help
                SIM7600 is a Multi-Band LTE-TDD/LTE-FDD/HSPA+ and GSM/GPRS/EDGE module.
    endchoice

    config EXAMPLE_MODEM_PPP_APN
        string "Set MODEM APN"
        default "internet"
        help
            Set APN (Access Point Name), a logical name to choose data network

    config EXAMPLE_NEED_SIM_PIN
        bool "SIM PIN needed"
        default n
        help
            Enable to set SIM PIN before starting the example

    config EXAMPLE_SIM_PIN
        string "Set SIM PIN"
        default "1234"
        depends on EXAMPLE_NEED_SIM_PIN
        help
            Pin to unlock the SIM

    config EXAMPLE_USE_VFS_TERM
        bool "Use VFS terminal"
        default n
        help
            Demonstrate use of VFS as a communication terminal of the DTE.
            VFS driver implements non-block reads, writes and selects to communicate with esp-modem,
            but this implementation uses UART resource only.

    config EXAMPLE_PERFORM_OTA
        bool "Perform OTA in the example"
        default n
        help
            Perform the OTA update after connecting to the network and mqtt broker.
            This option is used only to exercise network stability in CMUX mode.

    config EXAMPLE_PERFORM_OTA_URI
        string "URI of the binary"
        default "https://my.code/esp32.bin"
        depends on EXAMPLE_PERFORM_OTA
        help
            HTTPS address of the update binary.

endmenu
