menu "Example Configuration"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config ESP_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config ESP_MAXIMUM_RETRY
        int "Maximum retry"
        default 0
        help
            Set the Maximum retry to avoid station reconnecting. Set to 0 to keep retrying indefinitely.

    config EXAMPLE_MODEM_PPP_APN
        string "Set MODEM APN"
        default "default.apn"
        help
            Set APN (Access Point Name), a logical name to choose data network

    config EXAMPLE_PPP_UART_TX_PIN
        int "TXD Pin Number"
        default 15
        range 0 31
        help
            Pin number of UART TX.

    config EXAMPLE_PPP_UART_RX_PIN
        int "RXD Pin Number"
        default 14
        range 0 31
        help
            Pin number of UART RX.

    choice EXAMPLE_PPP_CONNECT
        prompt "Connect to PPP server"
        default EXAMPLE_PPP_CONNECT_ESP_MODEM
        help
            Choose modem interface library.
            We use esp_modem by default, but in some
            simple cases (and a very constrained environment)
            we could simply connect UART directly to lwIP.
            To experiment with this option, choose EXAMPLE_PPP_CONNECT_SIMPLE

        config EXAMPLE_PPP_CONNECT_ESP_MODEM
            bool "Using esp_modem library"
        config EXAMPLE_PPP_CONNECT_SIMPLE
            bool "Using simple UART-PPP driver"
    endchoice

    config EXAMPLE_DEMONSTRATE_DNS_CLEAR_CACHE
        bool "Run DNS clear cache"
        default n
        help
            This example will cleanup the DNS cache
            every iteration of the demo network operation.
            This forces the TCP/IP stack to always resolve DNS names,
            thus exercising potentially invalid DNS configuration.
            Set this to "y" for testing, but keep as "n" for production.

endmenu
