menu "ESP-ASIO"
    visible if LWIP_IPV6

    config ASIO_SSL_SUPPORT
        bool "Enable SSL/TLS support of ASIO"
        default n
        help
            Enable support for basic SSL/TLS features, available for mbedTLS/OpenSSL

    config ASIO_SSL_BIO_SIZE
        int "Size of BIO object"
        default 1024
        depends on ASIO_SSL_SUPPORT
        help
            Size in bytes of SSL-BIO implementation.
            Reducing the BIO size saves more RAM, but may slow down input output operations due to
            fragmentation.

endmenu
