menu "Wi-Fi Remote"

    config ESP_WIFI_REMOTE_ENABLED
        bool
        default y

    config ESP_WIFI_REMOTE_STATIC_RX_BUFFER_NUM
        int "Max number of WiFi static RX buffers"
        range 0 128
        default 0

    config ESP_WIFI_REMOTE_DYNAMIC_RX_BUFFER_NUM
        int "Max number of WiFi dynamic RX buffers"
        range 0 1024
        default 0

    choice ESP_WIFI_REMOTE_TX_BUFFER
        prompt "Type of WiFi TX buffers"
        default ESP_WIFI_REMOTE_DYNAMIC_TX_BUFFER

        config ESP_WIFI_REMOTE_STATIC_TX_BUFFER
            bool "Static"

        config ESP_WIFI_REMOTE_DYNAMIC_TX_BUFFER
            bool "Dynamic"

    endchoice

    config ESP_WIFI_REMOTE_TX_BUFFER_TYPE
        int
        default 0 if ESP_WIFI_REMOTE_STATIC_TX_BUFFER
        default 1 if ESP_WIFI_REMOTE_DYNAMIC_TX_BUFFER

    config ESP_WIFI_REMOTE_STATIC_TX_BUFFER_NUM
        int "Max number of WiFi static TX buffers"
        depends on ESP_WIFI_REMOTE_STATIC_TX_BUFFER
        range 0 64
        default 0

    choice ESP_WIFI_REMOTE_MGMT_RX_BUFFER
        prompt "Type of WiFi RX MGMT buffers"
        default ESP_WIFI_REMOTE_STATIC_RX_MGMT_BUFFER

        config ESP_WIFI_REMOTE_STATIC_RX_MGMT_BUFFER
            bool "Static"
        config ESP_WIFI_REMOTE_DYNAMIC_RX_MGMT_BUFFER
            bool "Dynamic"
    endchoice

    config ESP_WIFI_REMOTE_DYNAMIC_RX_MGMT_BUF
        int
        default 0 if ESP_WIFI_REMOTE_STATIC_RX_MGMT_BUFFER
        default 1 if ESP_WIFI_REMOTE_DYNAMIC_RX_MGMT_BUFFER

    config ESP_WIFI_REMOTE_RX_MGMT_BUF_NUM_DEF
        int "Max number of WiFi RX MGMT buffers"
        range 0 10
        default 0

    config ESP_WIFI_REMOTE_CSI_ENABLED
        bool "WiFi CSI(Channel State Information)"
        depends on SOC_WIFI_REMOTE_CSI_SUPPORT
        default n

    config ESP_WIFI_REMOTE_AMPDU_TX_ENABLED
        bool "WiFi AMPDU TX"
        default y

    config ESP_WIFI_REMOTE_TX_BA_WIN
        int "WiFi AMPDU TX BA window size"
        depends on ESP_WIFI_REMOTE_AMPDU_TX_ENABLED
        range 0 64 if SOC_WIFI_REMOTE_HE_SUPPORT
        default 0

    config ESP_WIFI_REMOTE_AMPDU_RX_ENABLED
        bool "WiFi AMPDU RX"
        default y

    config ESP_REMOTE_WIFI_RX_BA_WIN
        int "WiFi AMPDU RX BA window size"
        depends on ESP_WIFI_REMOTE_AMPDU_RX_ENABLED
        range 0 64
        default 0

    config ESP_WIFI_REMOTE_ESPNOW_MAX_ENCRYPT_NUM
        int "Maximum espnow encrypt peers number"
        range 0 17
        default 0

    if !ESP_WIFI_ENABLED

        config ESP_WIFI_STATIC_RX_BUFFER_NUM
            int
            default ESP_WIFI_REMOTE_STATIC_RX_BUFFER_NUM

        config ESP_WIFI_DYNAMIC_RX_BUFFER_NUM
            int
            default ESP_WIFI_REMOTE_DYNAMIC_RX_BUFFER_NUM

        config ESP_WIFI_TX_BUFFER_TYPE
            int
            default ESP_WIFI_REMOTE_TX_BUFFER_TYPE

        config ESP_WIFI_STATIC_TX_BUFFER_NUM
            int
            depends on ESP_WIFI_REMOTE_STATIC_TX_BUFFER
            default ESP_WIFI_REMOTE_STATIC_TX_BUFFER_NUM

        config ESP_WIFI_DYNAMIC_RX_MGMT_BUF
            int
            default ESP_WIFI_REMOTE_DYNAMIC_RX_MGMT_BUF

        config ESP_WIFI_RX_MGMT_BUF_NUM_DEF
            int
            default ESP_WIFI_REMOTE_RX_MGMT_BUF_NUM_DEF

        config ESP_WIFI_CSI_ENABLED
            bool
            default ESP_WIFI_REMOTE_CSI_ENABLED

        config ESP_WIFI_AMPDU_TX_ENABLED
            bool
            default ESP_WIFI_REMOTE_AMPDU_TX_ENABLED

        config ESP_WIFI_TX_BA_WIN
            int
            default ESP_WIFI_REMOTE_TX_BA_WIN

        config ESP_WIFI_AMPDU_RX_ENABLED
            bool
            default ESP_WIFI_REMOTE_AMPDU_RX_ENABLED

        config ESP_WIFI_RX_BA_WIN
            int
            default ESP_REMOTE_WIFI_RX_BA_WIN

        config ESP_WIFI_ESPNOW_MAX_ENCRYPT_NUM
            int
            default ESP_WIFI_REMOTE_ESPNOW_MAX_ENCRYPT_NUM

    endif #!ESP_WIFI_ENABLED


endmenu # Wi-Fi remote
