menu "Example Configuration"

    config EXAMPLE_BROKER_HOST
        string "Broker host address"
        default "0.0.0.0"
        help
            Host name of the endpoint to bind the mosquitto listener.

    config EXAMPLE_BROKER_PORT
        int "Broker port"
        default 1883
        help
            Port of the endpoint to bind the mosquitto listener

    config EXAMPLE_BROKER_RUN_LOCAL_MQTT_CLIENT
        bool "Run a local mqtt client"
        default y
        help
            If enabled, it runs a local mqtt client connecting
            to the same endpoint ans the broker listens to

    config EXAMPLE_BROKER_USE_BASIC_AUTH
        bool "Use basic authentication (username/password)"
        default n
        help
            If enabled, the broker will require username and password
            authentication. The example uses "testuser" / "testpass" as
            credentials. The client will also use these credentials when
            connecting to the broker.

    config EXAMPLE_BROKER_WITH_TLS
        bool "Use TLS"
        default y
        help
            If enabled, the broker (and the client too, if enabled)
            uses TLS transport layer

endmenu
