menu "Example Configuration"

    config EXAMPLE_BROKER_HOST
        string "Broker host address"
        default "0.0.0.0"
        help
            Host name of the endpoint to bind the mosquitto listener.

    config EXAMPLE_BROKER_PORT
        int "Broker port"
        default 1883
        help
            Port of the endpoint to bind the mosquitto listener

    config EXAMPLE_BROKER_RUN_LOCAL_MQTT_CLIENT
        bool "Run a local mqtt client"
        default y
        help
            If enabled, it runs a local mqtt client connecting
            to the same endpoint ans the broker listens to

endmenu
