menu "Wi-Fi Remote"
    config ESP_WIFI_REMOTE_ENABLED
        bool
        default y

    orsource "./idf_v$ESP_IDF_VERSION/Kconfig.slave_select.in"
    orsource "./idf_v$ESP_IDF_VERSION/Kconfig.soc_wifi_caps.in"
    orsource "./Kconfig.rpc.in"

    menu "Wi-Fi configuration"
    orsource "./idf_v$ESP_IDF_VERSION/Kconfig.wifi.in"
    endmenu

endmenu # Wi-Fi Remote
