name: "mqtt-cxx: build-tests"

on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened, labeled]

jobs:
  build_esp_mqtt_cxx:
    if: contains(github.event.pull_request.labels.*.name, 'mqtt')
    name: Build
    strategy:
      matrix:
        idf_ver: ["latest", "release-v5.0"]
        idf_target: ["esp32"]
        test: [ { app: example, path: "components/esp_mqtt_cxx/examples" }]
    runs-on: ubuntu-20.04
    container: espressif/idf:${{ matrix.idf_ver }}
    steps:
      - name: Checkout esp-protocols
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Build ${{ matrix.test.app }} with IDF-${{ matrix.idf_ver }} for ${{ matrix.idf_target }}
        shell: bash
        working-directory: ${{matrix.test.path}}
        run: |
          ${IDF_PATH}/install.sh --enable-pytest
          . ${IDF_PATH}/export.sh
          python $IDF_PATH/tools/ci/ci_build_apps.py . --target ${{ matrix.idf_target }} -vv --preserve-all --pytest-app
